.banner {
	@include size(100%, calc(100vh - var(--header-height) - 104px));
	@include minSize(false, 800px);
	@include maxSize(false, 1000px);
	@include position(relative);
	overflow: hidden;

	> .container {
		@include flex(row, center, space-between);
		@include position(relative);

		.text-box {
			@include position(relative);
			z-index: 1;

			.achievement {
				@include size(360px, 36px);
				@include flex(row, center);
				background: #e2eaed;
				border-radius: 100rem;

				.icon {
					@include size(40px, 100%);
					@include flexCenter();
					background-color: #feaa25;
					border-radius: inherit;

					img {
						@include size(20px);
						margin-right: 1px;
					}
				}

				.content {
					margin-left: 10px;
					font-size: 18px;
					font-weight: 500;
					color: var(--title-color);
					margin-top: 1px;
				}
			}

			> .title {
				@include size(530px, 140px);
				color: var(--title-color);
				font-size: 60px;
				font-weight: 700;
				line-height: 1.3;
				margin-top: 20px;
			}

			.desc {
				@include size(530px, false);
				color: var(--text-color);
				font-size: 18px;
				line-height: 1.8;
				margin-top: 30px;
			}

			.button-list {
				margin-top: 40px;

				.watch-demo-video-button {
					color: #2500f9;
					font-size: 16px;
					font-weight: 600;
					margin-left: 27px;
					background-color: transparent;
				}
			}
		}

		.banner-img {
			@include size(400px, 800px);
			@include position(relative);
			z-index: 1;
			object-fit: contain;
			align-self: flex-start;
		}
	}

	> .background {
		@include size(false, 100%);
		@include position(absolute, 25px, 44%);
		transform: translateX(45%);
		z-index: 1;
	}

	.background-left {
		@include size(700px, false);
		@include position(absolute, 20px, false, false, 0);
	}

	.background-bottom {
		@include size(100vw, 250px);
		@include position(absolute, false, 0, 0);
	}
}
