.payment-option-list {
	margin-top: 80px;

	.option-button-list {
		@include size(283px, 57px);
		@include flex();
		border: 2px solid #ebebeb;
		border-radius: 100rem;
		padding: 3px;

		li {
			@include size(50%, 100%);
			@include flexCenter();
			color: var(--text-color);
			font-size: 16px;

			&.selected {
				background-color: #2500f9;
				color: var(--white-color);
				font-weight: 600;
				border-radius: inherit;
			}
		}
	}

	.option-card-list {
		margin-top: 40px;
	}
}
